{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}



<style>
    
</style>
{% for entry in log_entries %}


{% endfor %}
<div class="relative overflow-x-auto sm:rounded-2xl px-2">


    {% comment %} second section {% endcomment %}
    <div class="flex flex-row w-full items-center justify-between pb-4">
        <div class="flex py-3 flex-row items-center justify-between space-y-0 space-x-4">
            <div>
                <label for="table-search" class="sr-only">Buscar</label>
            
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="table-search"  class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-2xl w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar">
                </div>
            </div>
    
    
            {% comment %} Export {% endcomment %}
            <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">            
                <button type="button" id="export-pdf-button" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-2xl focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Exportar
                </button>
            </div>
        </div>
        
    </div>

        
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="table-file">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Usuario
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Tabla
                </th>
                <th scope="col" class="px-6 py-3">
                    Evento
                </th>
                <th scope="col" class="px-6 py-3">
                    Cambios
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha y hora
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for entry in log_entries %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    {{ entry.actor }}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ entry.model_name }}
                </td>
                <td class="px-6 py-4">
                    {{ entry.object_repr }}
                </td>
                <td class="px-6 py-4">
                    <ul>
                        {% for field, change in entry.formatted_changes.items %}
                            <li>{{ field }}: {{ change }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="px-6 py-4">
                    {{ entry.timestamp }}
                </td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <p class="dark:text-white" id="search-result-message"></p>
</div>


<script src="{% static 'js/features/search.js' %}"></script>
<script src="{% static 'js/features/jspdf.js' %}"></script>

{% endblock %}

