

{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}
<script src="{% static 'fullcalendar/fullcalendar-6.1.9/dist/index.global.min.js' %}"></script>

<div class="flex justify-center	">
<script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    locale: 'es',
    initialDate: '2023-09-07',
    navLinks: true,
    selectable: true,
    headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    events: [
        {% for event in events %}
        {
        title: '{{ event.student }} - {{ event.lesson_x_detail }}',
        start: '{{ event.date | date:"Y-m-d" }}T{{ event.start_time }}:00',
        end: '{{ event.date | date:"Y-m-d" }}T{{ event.end_time }}:00',
        },
        {% endfor %}
    ]
    });

    calendar.render();
    

});

</script>
<div class="w-2/3">
    <div id='calendar' ></div>
</div>
</div>




{% endblock %}
