{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}
<script src="{% static "/node_modules/apexcharts/dist/apexcharts.min.js" %}"></script>

<div>{{ inscription_students }}</div>
<div class="max-w-none w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between">
        <div>
            <h5 id="idTotalAmount" class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Total anual ${{ total_payments_current_year }}</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Año actual</p>
        </div>

        <div class="flex flex-col items-end px-2.5 py-0.5">
        {% if percentage_change > 0 %}
            <div class="flex items-center text-base font-semibold text-green-500 dark:text-green-500 text-center">
                {{ percentage_change }}%
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M16 9l-4 -4"></path>
                    <path d="M8 9l4 -4"></path>
                </svg>
            </div>
        {% else %}
            <div class="flex items-center text-base font-semibold text-red-500 dark:text-red-500 text-center">
                {{ percentage_change }}%
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M16 15l-4 4"></path>
                    <path d="M8 15l4 4"></path>
                    </svg>
            </div>
        {% endif %}
        <p class="flex items-center text-xs font-mono pr-2 text-gray-500 dark:text-gray-400">respecto al mes anterior</p>

        </div>

    </div>
    <div id="finance-monthly-chart">
    </div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <button
                id="dropdownMonthButton"
                data-dropdown-toggle="filterMonthButton"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button">
                Año actual
                <svg class="w-2.5 m-2.5 ml-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="filterMonthButton" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMonthButton">
                    <li>
                    <a href="#" data-filter="current-year" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Año actual</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-three-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos tres meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-six-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos seis meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-nine-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos nueve meses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="max-w-none w-full bg-white rounded-lg shadow mt-8 dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between">
        <div>
            <h5 id="idTotalStudent" class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Cantidad de estudiantes {{ total_payments_current_year }}</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Año actual</p>
        </div>

        <div class="flex flex-col items-end px-2.5 py-0.5">
        {% if percentage_change > 0 %}
            <div class="flex items-center text-base font-semibold text-green-500 dark:text-green-500 text-center">
                {{ percentage_change }}%
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M16 9l-4 -4"></path>
                    <path d="M8 9l4 -4"></path>
                </svg>
            </div>
        {% else %}
            <div class="flex items-center text-base font-semibold text-red-500 dark:text-red-500 text-center">
                {{ percentage_change }}%
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M16 15l-4 4"></path>
                    <path d="M8 15l4 4"></path>
                    </svg>
            </div>
        {% endif %}
        <p class="flex items-center text-xs font-mono pr-2 text-gray-500 dark:text-gray-400">respecto al mes anterior</p>

        </div>

    </div>
    <div id="student-chart">
    </div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <button
                id="dropdownStudentButton"
                data-dropdown-toggle="filterStudentButton"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button">
                Año actual
                <svg class="w-2.5 m-2.5 ml-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="filterStudentButton" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownStudentButton">
                    <li>
                    <a href="#" data-filter="current-year" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Año actual</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-three-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos tres meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-six-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos seis meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-nine-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos nueve meses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

        
<script>
    
    const paymentData = {{ payment_data|safe }};

    const totalPaymentsAmountCurrentYear = "Total anual $" + {{ total_payments_current_year|safe }};
    const totalPaymentsAmountLastThreeMonths = "Total tres meses $" + {{ total_payments_amount_last_three_months|safe }};
    const totalPaymentsAmountLastSixMonths = "Total seis meses $" + {{ total_payments_amount_last_six_months|safe }};
    const totalPaymentsAmountLastNineMonths = "Total nueve meses $" + {{ total_payments_amount_last_nine_months|safe }};

    // All months 
    const monthlyPaymentData = {{ monthly_payment_data|safe }};
        // amount -> series
    const monthPaymentPrice = monthlyPaymentData.map(item => item.total);
    console.log("monthPaymentPrice", monthPaymentPrice)
        // month -> categories
    const monthLabels = monthlyPaymentData.map(item => {
        const monthNumber = item.month;
        const monthNames = [
            "Ene", "Feb", "Mar", "Abr", "May", "Jun",
            "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"
        ];

        return monthNames[monthNumber - 1]; 
    });

    // last three months
    const lastThreeMonths = {{ payments_data_last_three_months|safe }}
    const lastThreeMonthsPrice = lastThreeMonths.map(item => item.total);
    const lastThreeMonthLabels = lastThreeMonths.map(item => {
        const monthNumber = item.month;
        const monthNames = [
            "Ene", "Feb", "Mar", "Abr", "May", "Jun",
            "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"
        ];

        return monthNames[monthNumber - 1]; 
    });

    // last six months
    const lastSixMonths = {{ payments_data_last_six_months|safe }}
    const lastSixMonthsPrice = lastSixMonths.map(item => item.total);
    const lastSixMonthLabels = lastSixMonths.map(item => {
        const monthNumber = item.month;
        const monthNames = [
            "Ene", "Feb", "Mar", "Abr", "May", "Jun",
            "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"
        ];

        return monthNames[monthNumber - 1]; 
    });

    // last nine months
    const lastNineMonths = {{ payments_data_last_nine_months|safe }}
    const lastNineMonthsPrice = lastNineMonths.map(item => item.total);
    const lastNineMonthLabels = lastNineMonths.map(item => {
        const monthNumber = item.month;
        const monthNames = [
            "Ene", "Feb", "Mar", "Abr", "May", "Jun",
            "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"
        ];

        return monthNames[monthNumber - 1]; 
    });


    // Extrae las series y las etiquetas del eje X a partir de los datos
    const paymentPrices = paymentData.map(payment => parseFloat(payment.price));

    const paymentDates = paymentData.map(payment => {
        const date = new Date(payment.date);
        const day = String(date.getDate()).padStart(2, '0'); // Obtiene el día y asegura que tenga dos dígitos
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Obtiene el mes (agregando 1, ya que los meses comienzan en 0) y asegura que tenga dos dígitos
        const year = date.getFullYear(); // Obtiene el año

        return `${day}/${month}/${year}`;
    });

    paymentPrices.reverse()
    paymentDates.reverse(); 

    const filtersMonthly = {
        'current-year': {
            total: totalPaymentsAmountCurrentYear,
            data: monthPaymentPrice,
            labels: monthLabels, 
        },
        'mes-pasado': [200, 10, 100, 50, 5],
        'last-three-months': {
            total: totalPaymentsAmountLastThreeMonths,
            data: lastThreeMonthsPrice,
            labels: lastThreeMonthLabels, 
        }, 
        'last-six-months': {
            total: totalPaymentsAmountLastSixMonths,
            data: lastSixMonthsPrice,
            labels: lastSixMonthLabels, 
        },
        'last-nine-months': {
            total: totalPaymentsAmountLastNineMonths,
            data: lastNineMonthsPrice,
            labels: lastNineMonthLabels, 
        },
    };

    const selectedMonthlyFilter = ({chart}) => {
        const filterButton = document.getElementById("filterMonthButton");
        const dropdownButton = document.getElementById("dropdownMonthButton");
        const idTotalAmount = document.getElementById("idTotalAmount")
        filterButton.addEventListener("click", function (event) {

            event.preventDefault();
        
            const selectedFilter = event.target.getAttribute("data-filter");
        
            if (filtersMonthly[selectedFilter]) {
                chart.updateSeries([{ data: filtersMonthly[selectedFilter].data }]);
                chart.updateOptions({
                    xaxis: {
                        categories: filtersMonthly[selectedFilter].labels,
                    },
                });
                idTotalAmount.textContent = filtersMonthly[selectedFilter].total
                
            }
            if (selectedFilter) {
                const filterText = event.target.textContent;
                dropdownButton.textContent = filterText;
            }
            
        });
    }


    // ApexCharts options and config
    window.addEventListener("load", function() {
        let options = {
            chart: {
            height: "100%",
            maxWidth: "100%",
            type: "area",
            fontFamily: "Inter, sans-serif",
            dropShadow: {
                enabled: false,
            },
            toolbar: {
                show: false,
            },
            },
            tooltip: {
            enabled: true,
            x: {
                show: false,
            },
            },
            fill: {
            type: "gradient",
            gradient: {
                opacityFrom: 0.55,
                opacityTo: 0,
                shade: "#1C64F2",
                gradientToColors: ["#1C64F2"],
            },
            },
            dataLabels: {
            enabled: false,
            },
            stroke: {
            width: 6,
            },
            grid: {
            show: false,
            strokeDashArray: 4,
            padding: {
                left: 2,
                right: 2,
                top: 0
            },
            },
            series: [
            {
                name: "Payments",
                data: monthPaymentPrice,
                color: "#1A56DB",
            },
            ],
            xaxis: {
                categories: monthLabels,
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                    }
                    
            },
            axisBorder: {
                show: false,
            },
            axisTicks: {
                show: false,
            },
            },
            yaxis: {
                show: true,
                labels: {
                show: true,
                style: {
                    fontFamily: "Inter, sans-serif",
                    cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                },
                formatter: function (value) {
                    return '$' + value;
                }
                }
            },
        }

        if (document.getElementById("finance-monthly-chart") && typeof ApexCharts !== 'undefined') {
            const financeChart = new ApexCharts(document.getElementById("finance-monthly-chart"), options);
            financeChart.render();
            
            selectedMonthlyFilter({chart: financeChart})
        }

        if (document.getElementById("student-chart") && typeof ApexCharts !== 'undefined') {
            const studentChart = new ApexCharts(document.getElementById("student-chart"), options);
            studentChart.render();
            
            selectedMonthlyFilter({chart: studentChart})
        }
    });

</script>



<script src="{% static "js/modal.js" %}"></script>
{% endblock %}
