{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}

<div class="relative overflow-x-auto sm:rounded-2xl px-2 pb-4">


    {% comment %} first section {% endcomment %}
    <div class="flex py-3 flex-row lg:items-center justify-between space-y-0 space-x-4 hidden">
        <div class="flex items-center flex-1 space-x-4">
            <h5>
                <span class="text-gray-500 dark:text-gray-300">Clases</span>
                <span class="dark:text-white">{{ lessons | length}}</span>
            </h5>
        </div>
    </div>

    {% comment %} second section {% endcomment %}
    <div class="flex flex-row w-full items-center justify-between pb-4">
        <div class="flex py-3 flex-row items-center justify-between space-y-0 space-x-4">
            <div>
                <label for="table-search" class="sr-only">Buscar</label>
            
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="table-search"  class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-2xl w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar">
                </div>
            </div>
    
            {% comment %} Filter {% endcomment %}
            <div class="relative">
                <select id="filter-status" class="block p-2 pr-6 text-sm text-gray-900 border border-gray-300 rounded-2xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">Todas</option>
                    <option value="inactive">No vistas</option>
                    <option value="active">Vistas</option>
                </select>
            </div>
    
            {% comment %} Export {% endcomment %}
            <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">            
                <button type="button" class="export-button flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-2xl focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Exportar
                </button>

                
            </div>
        </div>
        
        
        {% comment %} Add {% endcomment %}
        <button type="button" onclick="window.location.href = '{% url 'lesson-create' %}'" class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-2xl text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Nuevo
        </button>
    </div>
    {% if messages %}
        <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-2xl bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div class="ml-3 text-sm font-medium">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-2xl focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            </button>
        </div>
    {% endif %}

        
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="table-file">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-tl-2xl">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Estudiante
                </th>
                <th scope="col" class="px-6 py-3">
                    Profesor
                </th>
                <th scope="col" class="px-6 py-3">
                    Modalidad
                </th>
                <th scope="col" class="px-6 py-3 rounded-tr-2xl">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr class="bg-gray-100 dark:bg-gray-800 dark:border-gray-700" data-status="{% if lesson.lesson_status %}active{% else %}inactive{% endif %}">
                
                {% if lesson.start_date %}
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white {% if forloop.last %}rounded-bl-2xl{% endif %}">
                        {{ lesson.start_date|date:"l j, g:iA" }}
                    </td>
                {% else %}
                    <td class="px-6 py-4 font-medium text-gray-400 whitespace-nowrap dark:text-white {% if forloop.last %}rounded-bl-2xl{% endif %}">
                        Sin fecha establecida
                    </td>
                {% endif %}
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ lesson.subscription.student }}

                </td>
                <td class="px-6 py-4">
                    {{ lesson.teacher }}
                </td>
                <td class="px-6 py-4">
                    {{ lesson.lesson_type }}
                </td>

                <td class="px-6 py-4 {% if forloop.last %}rounded-br-2xl{% endif %}">
                    <div class="flex items-center h-full flex-1 flex-row gap-x-2">
                        <a href="{% url 'lesson-update' lesson.pk %}" class="font-medium text-black dark:text-white hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                            </svg>
                        </a>

                        <button 
                            class="font-medium text-black dark:text-white hover:underline" 
                            onclick="openModal('lessonModal', {
                                'Fecha': '{% if lesson.start_date %}{{ lesson.start_date|date:"l j, g:iA" }}{% endif %}',   
                                'Estudiante': '{{ lesson.subscription.student }}',
                                'Precio': '{% if lesson.price %}${{lesson.price}}{% else %}$0{% endif %}',
                                'Profesor': '{{ lesson.teacher }}',
                                'Clase vista': '{% if lesson.lesson_status %}Vista{% else %}No vista{% endif %}',
                                
                            })">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"></path>
                                <path d="M12 8v4"></path>
                                <path d="M12 16h.01"></path>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="dark:text-white" id="search-result-message"></p>
</div>

<!-- Modal -->
<div id="lessonModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span> <!-- "X" Button -->
        <div></div>
    </div>
</div>

<script src="{% static 'js/features/search.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
