{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}
<script src="{% static '/node_modules/apexcharts/dist/apexcharts.min.js' %}"></script>

{% comment %} <div>{{ revenue_by_subscription_type_current_year }}</div> {% endcomment %}
{% comment %} <div>{{ student_count_by_subscription_type_current_year }}</div> {% endcomment %}
{% comment %} <div>{{ start_dates }}</div> {% endcomment %}

<!-- Chart 1: count by age -->
<div class="max-w-none w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between">
        <div>
            <h5 id="idTotalStudent" class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Cantidad de estudiantes {{ total_payments_current_year }}</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Año actual</p>
        </div>

        <div class="hidden flex flex-col items-end px-2.5 py-0.5">
            {% if percentage_change > 0 %}
                <div class="flex items-center text-base font-semibold text-green-500 dark:text-green-500 text-center">
                    {{ percentage_change }}%
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M16 9l-4 -4"></path>
                        <path d="M8 9l4 -4"></path>
                    </svg>
                </div>
            {% elif percentage_change < 0  %}
                <div class="flex items-center text-base font-semibold text-red-500 dark:text-red-500 text-center">
                    {{ percentage_change }}%
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M16 15l-4 4"></path>
                        <path d="M8 15l4 4"></path>
                        </svg>
                </div>
            {% else %}
                <div class="flex items-center text-base font-semibold text-gray-500 dark:text-gray-500 text-center pr-2">
                    {{ percentage_change }}%
                </div>
            {% endif %}
            <p class="flex items-center text-xs font-mono pr-2 text-gray-500 dark:text-gray-400">respecto al mes anterior</p>

        </div>

    </div>
    <div id="student-chart-1">
    </div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <button
                id="dropdownStudentButton"
                data-dropdown-toggle="filterStudentButton"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button">
                Año actual
                <svg class="w-2.5 m-2.5 ml-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="filterStudentButton" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownStudentButton">
                    <li>
                    <a href="#" data-filter="current-year" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Año actual</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-three-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos tres meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-six-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos seis meses</a>
                    </li>
                    <li>
                    <a href="#" data-filter="last-nine-months" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Últimos nueve meses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Chart 2 -->
<div class="max-w-none w-full bg-white rounded-lg shadow mt-8 dark:bg-gray-800 p-4 md:p-6 hidden">
    <div class="flex justify-between">
        <div>
            <h5 id="idTotalStudent" class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Cantidad de estudiantes {{ total_payments_current_year }}</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Año actual</p>
        </div>

        <div class=" hidden flex flex-col items-end px-2.5 py-0.5">
            {% if percentage_change > 0 %}
                <div class="flex items-center text-base font-semibold text-green-500 dark:text-green-500 text-center">
                    {{ percentage_change }}%
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M16 9l-4 -4"></path>
                        <path d="M8 9l4 -4"></path>
                    </svg>
                </div>
            {% elif percentage_change < 0  %}
                <div class="flex items-center text-base font-semibold text-red-500 dark:text-red-500 text-center">
                    {{ percentage_change }}%
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M16 15l-4 4"></path>
                        <path d="M8 15l4 4"></path>
                        </svg>
                </div>
            {% else %}
                <div class="flex items-center text-base font-semibold text-gray-500 dark:text-gray-500 text-center pr-2">
                    {{ percentage_change }}%
                </div>
            {% endif %}
            <p class="flex items-center text-xs font-mono pr-2 text-gray-500 dark:text-gray-400">respecto al mes anterior</p>

        </div>

    </div>
    <div id="student-chart-2">
    </div>
</div>

<!-- Student Chart 3 -->
<div class="max-w-none w-full bg-white rounded-lg shadow mt-8 dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
    <dl>
        <dd class="leading-none text-3xl font-bold text-gray-900 dark:text-white">Cantidad de estudiantes por tipos de suscripciones</dd>
    </dl>
    </div>


    <div id="chart-3"></div>
</div>
  

  

<!-- Script Chart 1: Count by age -->
<script>
    
    const calculateAgeByCount = {{ calculate_age_by_count|safe }};

    const studentAge = calculateAgeByCount.map(item => item.age)
    const studentCount = calculateAgeByCount.map(item => item.count)

    const selectedMonthlyFilter = ({chart}) => {
        const filterButton = document.getElementById("filterMonthButton");
        const dropdownButton = document.getElementById("dropdownMonthButton");
        const idTotalAmount = document.getElementById("idTotalAmount")
        filterButton.addEventListener("click", function (event) {

            event.preventDefault();
        
            const selectedFilter = event.target.getAttribute("data-filter");
        
            if (filtersMonthly[selectedFilter]) {
                chart.updateSeries([{ data: filtersMonthly[selectedFilter].data }]);
                chart.updateOptions({
                    xaxis: {
                        categories: filtersMonthly[selectedFilter].labels,
                    },
                });
                idTotalAmount.textContent = filtersMonthly[selectedFilter].total
                
            }
            if (selectedFilter) {
                const filterText = event.target.textContent;
                dropdownButton.textContent = filterText;
            }
            
        });
    }


    // ApexCharts options and config
    window.addEventListener("load", function() {
        let options = {
            chart: {
                height: "100%",
                maxWidth: "100%",
                type: "area",
                fontFamily: "Inter, sans-serif",
                dropShadow: {
                    enabled: false,
                },
                toolbar: {
                    show: true,
                    offsetX: 0,
                    offsetY: 0,
                    tools: {
                        download: true,
                        selection: true,
                        zoom: true,
                        zoomin: true,
                        zoomout: true,
                        pan: true,
                        reset: true | '<img src="/static/icons/reset.png" width="20">',
                        customIcons: []
                    },
                    export: {
                        csv: {
                            filename: 'cantidad-estudiantes-por-edad',
                            columnDelimiter: ',',
                            headerCategory: 'category',
                            headerValue: 'value',
                            dateFormatter(timestamp) {
                            return new Date(timestamp).toDateString()
                            }
                        },
                        svg: {
                            filename: 'cantidad-estudiantes-por-edad',
                        },
                        png: {
                            filename: 'cantidad-estudiantes-por-edad',
                        }
                    },
                    autoSelected: 'zoom' 
                },
            },
            
            tooltip: {
                enabled: true,
                x: {
                    show: false,
                },
            },
            fill: {
                type: "gradient",
                gradient: {
                    opacityFrom: 0.55,
                    opacityTo: 0,
                    shade: "#1C64F2",
                    gradientToColors: ["#1C64F2"],
                },
            },
            dataLabels: {
                enabled: false,
            },
            stroke: {
                width: 6,
            },
            grid: {
                show: false,
                strokeDashArray: 4,
                padding: {
                    left: 2,
                    right: 2,
                    top: 0
                },
            },
            series: [
                {
                    name: "Estudiantes",
                    data: studentCount,
                    color: "#1A56DB",
                },
            ],
            xaxis: {
                title: {
                    text: 'Edad estudiantes',
                    style: {
                        fontSize: '14px',
                    },
                },
                categories: studentAge,
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                    }
                    
                },
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                },
            },
            yaxis: {
                title: {
                    text: 'Cantidad estudiantes',
                    style: {
                        fontSize: '14px',
                    },
                },
                show: true,
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                    },
                    formatter: function (value) {
                        return value;
                    }
                }
            },
            grid: {
                show: true,
                strokeDashArray: 4,
                padding: {
                    left: 2,
                    right: 2,
                    top: -20
                },
            },
        }

        if (document.getElementById("student-chart-1") && typeof ApexCharts !== 'undefined') {
            const studentChart1 = new ApexCharts(document.getElementById("student-chart-1"), options);
            studentChart1.render();
        }
    });

</script>

<!-- Script Chart 2: Count by subscription type -->
{% comment %} 
<script>
    
    


    // ApexCharts options and config
    window.addEventListener("load", function() {
        let options = {
            chart: {
                height: "100%",
                maxWidth: "100%",
                type: "area",
                fontFamily: "Inter, sans-serif",
                dropShadow: {
                    enabled: false,
                },
                toolbar: {
                    show: true,
                    offsetX: 0,
                    offsetY: 0,
                    tools: {
                        download: true,
                        selection: true,
                        zoom: true,
                        zoomin: true,
                        zoomout: true,
                        pan: true,
                        reset: true | '<img src="/static/icons/reset.png" width="20">',
                        customIcons: []
                    },
                    export: {
                        csv: {
                            filename: 'cantidad-estudiantes-por-edad',
                            columnDelimiter: ',',
                            headerCategory: 'category',
                            headerValue: 'value',
                            dateFormatter(timestamp) {
                            return new Date(timestamp).toDateString()
                            }
                        },
                        svg: {
                            filename: 'cantidad-estudiantes-por-edad',
                        },
                        png: {
                            filename: 'cantidad-estudiantes-por-edad',
                        }
                    },
                    autoSelected: 'zoom' 
                },
            },
            
            tooltip: {
                enabled: true,
                x: {
                    show: false,
                },
            },
            fill: {
                type: "gradient",
                gradient: {
                    opacityFrom: 0.55,
                    opacityTo: 0,
                    shade: "#1C64F2",
                    gradientToColors: ["#1C64F2"],
                },
            },
            dataLabels: {
                enabled: false,
            },
            stroke: {
                width: 6,
            },
            grid: {
                show: false,
                strokeDashArray: 4,
                padding: {
                    left: 2,
                    right: 2,
                    top: 0
                },
            },
            series: [
                {
                    name: "Estudiantes",
                    data: chart2_studentCount,
                    color: "#1A56DB",
                },
            ],
            xaxis: {
                title: {
                    text: 'Edad estudiantes',
                    style: {
                        fontSize: '14px',
                    },
                },
                categories: chart2_subcriptionType,
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                    }
                    
                },
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                },
            },
            yaxis: {
                title: {
                    text: 'Cantidad estudiantes',
                    style: {
                        fontSize: '14px',
                    },
                },
                show: true,
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                    },
                    formatter: function (value) {
                        return value;
                    }
                }
            },
        }

        if (document.getElementById("student-chart-2") && typeof ApexCharts !== 'undefined') {
            const studentChart2 = new ApexCharts(document.getElementById("student-chart-2"), options);
            studentChart2.render();
        }
    });

</script> 
{% endcomment %}

<!-- Script Chart 3 -->
<script>

    const countBySubscriptionType = {{ student_count_by_subscription_type_current_year|safe }};

    const revenueSubscriptionRypeCurrentYear = {{ revenue_by_subscription_type_current_year|safe }};

    // Yaxis
    const chart3_subcriptionType = countBySubscriptionType.map(item => item.subscription_type)
    const chart3_studentCount = countBySubscriptionType.map(item => item.count)

    // Xaxis
    //const chart3_subcriptionType = revenueSubscriptionRypeCurrentYear.map(item => item.subscription_type)
    const chart3_revenueCurrentYear = revenueSubscriptionRypeCurrentYear.map(item => item.revenue)

    console.log('chart3_revenueCurrentYear:', chart3_revenueCurrentYear)

    window.addEventListener("load", function() {
      var options = {
        series: [
        {
            name: "Estudiantes",
            type: "column", // Puedes usar 'line' para estudiantes
            data: chart3_studentCount,
        },
        {% comment %} {
            name: "Ingresos",
            type: "line", // Puedes usar 'column' para ingresos
            data: chart3_revenueCurrentYear,
        } {% endcomment %}
        ],
        chart: {
            
            sparkline: {
                enabled: false,
            },
            type: "line",
            width: "100%",
            height: 400,
            toolbar: {
                show: true,
                offsetX: 0,
                offsetY: 0,
                tools: {
                    download: true,
                    selection: true,
                    zoom: true,
                    zoomin: true,
                    zoomout: true,
                    pan: true,
                    reset: true | '<img src="/static/icons/reset.png" width="20">',
                    customIcons: []
                },
                export: {
                    csv: {
                        filename: 'cantidad-estudiantes-por-edad',
                        columnDelimiter: ',',
                        headerCategory: 'category',
                        headerValue: 'value',
                        dateFormatter(timestamp) {
                        return new Date(timestamp).toDateString()
                        }
                    },
                    svg: {
                        filename: 'cantidad-estudiantes-por-edad',
                    },
                    png: {
                        filename: 'cantidad-estudiantes-por-edad',
                    }
                },
                autoSelected: 'zoom' 
            },
        },
        fill: {
            opacity: 1,
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: "100%",
                borderRadiusApplication: "end",
                borderRadius: 6,
                dataLabels: {
                    position: "top",
                },
                columnWidth: "60%", // Ajusta el ancho de las barras aquí
                barHeight: "50%",
            },
        },
        legend: {
        show: true,
            position: "bottom",
        },
        dataLabels: {
            enabled: false,
        },
        tooltip: {
            shared: true,
            intersect: false,
            formatter: function (value) {
                return "$" + value
            }
        },
        xaxis: {
            title: {
                text: "Tipos de suscripciones",
            },
            labels: {
                show: true,
                style: {
                    fontFamily: "Inter, sans-serif",
                    cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                },
                formatter: function(value) {
                    return value
                }
            },
            categories: chart3_subcriptionType,
            axisTicks: {
                show: false,
            },
            axisBorder: {
                show: false,
            },
        },
        yaxis: [
            {
                title: {
                    text: "Estudiantes",
                    {% comment %} style: {
                        color: "#6B7280" // Cambia "#FF0000" al color que desees, por ejemplo, rojo
                    } {% endcomment %}
                },
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400',
                    }
                }
            },
            {% comment %} {
                opposite: false, // Este eje estará en el lado opuesto (derecho)
                title: {
                    text: "Estudiantes",
                }
            } {% endcomment %}
        ],
        grid: {
            show: true,
            strokeDashArray: 4,
            padding: {
                left: 2,
                right: 2,
                top: -20
            },
        },
        fill: {
            opacity: 1,
        }
    }
  
    if(document.getElementById("chart-3") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("chart-3"), options);
        chart.render();
    }
    });
</script>


<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
