

{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Teléfono
                </th>
                <th scope="col" class="px-6 py-3">
                    Dirección
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha de Nacimiento
                </th>
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ student.first_name }}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ student.first_surname }}
                </td>
                <td class="px-6 py-4">
                    {{ student.email }}
                </td>
                <td class="px-6 py-4">
                    {{ student.phone_number }}
                </td>
                <td class="px-6 py-4">
                    {{ student.address }}
                </td>
                <td class="px-6 py-4">
                    {{ student.birthdate }}
                    {% comment %} {{ student.birthdate|date:"d/m/Y"}} {% endcomment %}
                </td>
                <td class="px-6 py-4 flex gap-x-2">
                    <a href="{% url 'student-update' student.pk %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="{% static 'src/icons/tabler/svg/edit.svg' %}" alt="logo niños cantores" class="w-6 h-6">
                    </a>
                    <a href="{% url 'student-update' student.pk %}" class="font-medium text-red-600 dark:text-blue-500 hover:underline">
                        <img src="{% static 'src/icons/tabler/svg/trash.svg' %}" alt="logo niños cantores" class="w-6 h-6 text-red-500">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
