asgiref==3.7.2
black==23.9.1
click==8.1.7
Django==4.2.5
django-appconf==1.0.5
django-compressor==4.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
