{% extends "base.html" %}

{% block content %}

{% load compress %}
{% load static %}
<script src="{% static '/node_modules/apexcharts/dist/apexcharts.min.js' %}"></script>

<!-- Student Chart 1 -->
<div class="max-w-none w-full bg-gray-100 rounded-2xl shadow mt-8 dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
    <dl>
        <dd class="leading-none text-3xl font-bold text-gray-900 dark:text-white">Cantidad de clases dadas por profesor</dd>
    </dl>
    </div>


    <div id="chart-1"></div>
</div>

<!-- Script Chart 1 -->
<script>

    const countLessonsPerTeacher = {{ count_lessons_per_teacher | safe}}

    const chart1_teacherNames = countLessonsPerTeacher.map(item => item.teacher_name)
    const chart1_teacherCount = countLessonsPerTeacher.map(item => parseInt(item.lesson_count))

    
    console.log(countLessonsPerTeacher)
    console.log(chart1_teacherNames)
    console.log(chart1_teacherCount)


    window.addEventListener("load", function() {
      var options = {
        series: [
        {
            name: "Clases",
            type: "column", // Puedes usar 'line' para estudiantes
            data: chart1_teacherCount,
        },
        {% comment %} {
            name: "Ingresos",
            type: "line", // Puedes usar 'column' para ingresos
            data: 'HERE GOES DATA',
        } {% endcomment %}
        ],
        chart: {
            
            sparkline: {
                enabled: false,
            },
            type: "line",
            width: "100%",
            height: 400,
            toolbar: {
                show: true,
                offsetX: 0,
                offsetY: 0,
                tools: {
                    download: true,
                    selection: true,
                    zoom: true,
                    zoomin: true,
                    zoomout: true,
                    pan: true,
                    reset: true | '<img src="/static/icons/reset.png" width="20">',
                    customIcons: []
                },
                export: {
                    csv: {
                        filename: 'clasesxprofesor',
                        columnDelimiter: ',',
                        headerCategory: 'category',
                        headerValue: 'value',
                        dateFormatter(timestamp) {
                        return new Date(timestamp).toDateString()
                        }
                    },
                    svg: {
                        filename: 'clasesxprofesor',
                    },
                    png: {
                        filename: 'clasesxprofesor',
                    }
                },
                autoSelected: 'zoom' 
            },
        },
        fill: {
            opacity: 1,
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: "100%",
                borderRadiusApplication: "end",
                borderRadius: 6,
                dataLabels: {
                    position: "top",
                },
                columnWidth: "60%", // Ajusta el ancho de las barras aquí
                barHeight: "50%",
            },
        },
        legend: {
        show: true,
            position: "bottom",
        },
        dataLabels: {
            enabled: false,
        },
        tooltip: {
            shared: true,
            intersect: false,
            formatter: function (value) {
                return "$" + value
            }
        },
        xaxis: {
            title: {
                text: "Profesores",
            },
            labels: {
                show: true,
                style: {
                    fontFamily: "Inter, sans-serif",
                    cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                },
                formatter: function(value) {
                    return value
                }
            },
            categories: chart1_teacherNames,
            axisTicks: {
                show: false,
            },
            axisBorder: {
                show: false,
            },
        },
        yaxis: [
            {
                max: Math.max(...chart1_teacherCount) + 3,
                title: {
                    text: "Cantidad",
                    {% comment %} style: {
                        color: "#6B7280" // Cambia "#FF0000" al color que desees, por ejemplo, rojo
                    } {% endcomment %}
                },
                labels: {
                    show: true,
                    style: {
                        fontFamily: "Inter, sans-serif",
                        cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400',
                    }
                }
            },
            
            
            {% comment %} {
                opposite: false, // Este eje estará en el lado opuesto (derecho)
                title: {
                    text: "Estudiantes",
                }
            } {% endcomment %}
        ],
        grid: {
            show: true,
            strokeDashArray: 4,
            padding: {
                left: 2,
                right: 2,
                top: -20
            },
        },
        fill: {
            opacity: 1,
        }
    }
  
    if(document.getElementById("chart-1") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("chart-1"), options);
        chart.render();
    }
    });
</script>


<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
