<!-- event_create.html -->
{% extends "base.html" %}

{% block content %}
{% comment %} is necessary for the styles {% endcomment %}
<div class="hidden py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer', 'placeholder': ' ', 'datepicker': '', 'datepicker-orientation': 'bottom left', 'type': 'text', 'autocomplete': 'off'"></div>
<div class="hidden w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></div>
<h2 class="text-3xl font-extrabold dark:text-white">Evento</h2>

<form method="post" class='mt-8'>
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}

    

    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.lesson_type }}
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.subscription }}
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.teacher }}
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.description }}
            <label for="{{ form.description.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.description.label }}</label>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.price }}
            <label for="{{ form.price.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.price.label }}</label>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.start_date }}
            <label for="{{ form.start_date.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.start_date.label }}</label>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            {{ form.end_date }}
            <label for="{{ form.end_date.id_for_label }}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ form.end_date.label }}</label>
        </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
        <div class="flex items-center">
            {{ form.lesson_status }}
            <label for="{{ form.lesson_status.id_for_label }}" class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">{{ form.lesson_status.label }}</label>
        </div>
    </div>


    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar</button>
    <button type="button" onclick="window.location.href = '{% url 'calendar' %}'" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Cancelar
    </button>
</form>

<script>
    // Obtén los elementos de los campos de fecha y hora
    const startInput = document.getElementById('id_start_date');
    const endInput = document.getElementById('id_end_date');
    const lessonStatus = document.getElementById('id_lesson_status');
    const lessonStatusLabel = document.querySelector('label[for="id_lesson_status"]');

    const currentDate = new Date()

    // Agrega un evento al campo de fecha de inicio para actualizar el campo de fecha de fin
    startInput.addEventListener('input', function() {
        const startDate = new Date(startInput.value);
        const endDate = new Date(startDate.getTime() - 180 * 60 * 1000); // Agrega una hora

        // Formatea la fecha y hora en formato "YYYY-MM-DDTHH:mm:ss"
        const endDateString = endDate.toISOString().slice(0, 16);

        // Asigna el valor preseleccionado al campo de fecha de fin
        endInput.value = endDateString;

        if (startDate > currentDate) { // greater
            lessonStatus.disabled = true;
            lessonStatus.checked = false;
            lessonStatusLabel.classList.remove('text-gray-500');
            lessonStatusLabel.classList.add('text-gray-400');
        } else { //lesser
            lessonStatus.disabled = false;
            lessonStatus.checked = true;
            lessonStatusLabel.classList.remove('text-gray-400');
            lessonStatusLabel.classList.add('text-gray-500');
        }
    });

    

</script>
{% endblock %}