{% load static %}
 
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <li>
            <a href="{% url 'home' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

               <img src="{% static 'src/icons/tabler/svg/layout-dashboard.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">

               <span class="ml-3">Panel Principal </span>
            </a>
         </li>
         <li>
            <a href="{% url 'student-list' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <img src="{% static 'src/icons/tabler/svg/school.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
               <span class="flex-1 ml-3 whitespace-nowrap">Estudiantes</span>
            </a>
         </li>
         <li>
            <a href="{% url "teacher-list" %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

               <img src="{% static 'src/icons/tabler/svg/users.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">


               <span class="flex-1 ml-3 whitespace-nowrap">Profesores</span>
            </a>
         </li>
         <li>
            <a href="{% url "lesson-list" %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

               <img src="{% static 'src/icons/tabler/svg/clock-2.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">


               <span class="flex-1 ml-3 whitespace-nowrap">Clases</span>
            </a>
         </li>
         <li>
            <a href="{% url "lesson-calendar" %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

               <img src="{% static 'src/icons/tabler/svg/calendar.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">


               <span class="flex-1 ml-3 whitespace-nowrap">Calendario</span>
            </a>
         </li>
         <li>
            <a href="{% url "subscriptions-list" %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

               <img src="{% static 'src/icons/tabler/svg/cards-filled.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">


               <span class="flex-1 ml-3 whitespace-nowrap">Suscripciones</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <img src="{% static 'src/icons/tabler/svg/anchor.svg' %}" alt="logo niños cantores" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">

               <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
            </a>
         </li>
      </ul>
   </div>
</aside>


 