<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niños Cantores de Lara</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <link rel="stylesheet" href="{% static "css/modal.css" %}">
    <script src="{% static 'node_modules/jspdf/dist/jspdf.umd.min.js' %}"></script>


</head>

<body class="dark:bg-gray-900">

    {% if not user.is_authenticated %}
    
        {% block login %}
        {% endblock login %}
    {% else %}
        {% include "includes/navbar.html" %}
        {% include "includes/sidebar.html" %}

        <div class="p-4 sm:ml-64">
            <div class="p-4 border-2 border-dashed rounded-lg dark:border-gray-700 mt-16">
            {% comment %} <div class="p-4 bg-white rounded-lg shadow dark:bg-gray-800 mt-16 md:p-6"> {% endcomment %}
                
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    {% endif %}

    <script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>
    <script src="{% static 'node_modules/flowbite/dist/datepicker.js' %}"></script>

    <script src="{% static "js/dark-mode.js" %}"></script>

</body>

</html>