{% extends "base.html" %}


{% block login %}
  {% if not user.is_authenticated %}
    <script>
      window.location.href = "{% url 'login' %}";
    </script>
  {% endif %}
{% endblock login %}

{% block content %}
  {% if user.is_authenticated %}
<div class="grid grid-flow-row">

    <div class="grid grid-cols-2 gap-x-10 gap-y-5 w-full">

      <div>
        <a href="{% url "student-list" %}" class="block w-full h-full p-6 bg-gray-100 border border-gray-200 rounded-2xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Estudiantes</h5>
          {% comment %} <p class="font-normal text-gray-700 dark:text-gray-400">{{ students | length }}</p> {% endcomment %}
        </a>
      </div>

      <div>
        <a href="{% url "lesson-list" %}" class="block w-full h-full p-6 bg-gray-100 border border-gray-200 rounded-2xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Clases</h5>
          {% comment %} <p class="font-normal text-gray-700 dark:text-gray-400">$ 560</p> {% endcomment %}
        </a>
      </div>

      <div>
        <a href="{% url "teacher-list" %}" class="block w-full h-full p-6 bg-gray-100 border border-gray-200 rounded-2xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Profesores</h5>
          {% comment %} <p class="font-normal text-gray-700 dark:text-gray-400">26</p> {% endcomment %}
        </a>
      </div>

      <div>
        <a href="{% url "subscription-list" %}" class="block w-full h-full p-6 bg-gray-100 border border-gray-200 rounded-2xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Suscripciones</h5>
          {% comment %} <p class="font-normal text-gray-700 dark:text-gray-400">26</p> {% endcomment %}
        </a>
      </div>

      <div>
        <a href="{% url "payment-list" %}" class="block w-full h-full p-6 bg-gray-100 border border-gray-200 rounded-2xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pagos</h5>
          {% comment %} <p class="font-normal text-gray-700 dark:text-gray-400">26</p> {% endcomment %}
        </a>
      </div>

    </div>
  </div>
  {% endif %}
{% endblock content %}